header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid black;
    font-family: 'DM Serif Display', serif;
  }
  
.logo {
  font-size: 50pt;
  margin-left: 45px;
}

nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: black;
  font-size: 15pt;
  font-family: 'Albert Sans';
}

.get-started {
  padding: 0.5rem 1rem;
  border: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: black;
  font-family: 'Albert Sans';
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
  border-top: 1px solid black;
  margin-top: -10px;
}

footer a {
  vertical-align: center;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  justify-content: space-around;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-family: 'Albert Sans';
  text-align: center;
}

.modal {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 700px;
  height: 94vh;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}


.modal h4 {
  margin-bottom: 50px; 
}

.sign-in-option {
  display: block;
  width: 80%; 
  max-width: 300px; 
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  background: white;
  cursor: pointer;
  transition: background 0.3s;
  border: 1px solid black;
}

.sign-in-option:hover {
  background: #e0e0e0;
}

.modal p {
  margin-top: 20px;
  font-size: 14px;
  color: black;
  text-align: center;
}
