header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border-bottom: 0.0625rem solid black;
  font-family: 'DM Serif Display', serif;
  width: 100%; 
  margin: 0 auto; 
  box-sizing: border-box; 
  align-items: center;  
}

.logo {
  margin-left: 10%; 
  font-size: clamp(3rem, 6vw, 5rem);
}

nav {
  align-items: center;  
  display: flex;
  gap: 2rem; 
  padding-right: 7%;
}

nav a {
  margin: 0; 
  text-decoration: none;
  color: black;
  font-size: clamp(0.75rem, 1vw, 2rem);
  font-family: 'Albert Sans';
}

.get-started {
  padding: 0.5rem 1rem;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.5rem; 
  border-radius: 3rem;
  cursor: pointer;
  text-decoration: none;
  margin-left: 2rem; 
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0; 
  border-top: 0.0625rem solid black;
  width: 100%; 
  box-sizing: border-box; 
  position: relative;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: clamp(0.75rem, 1vw, 2rem);
  justify-content: space-around;
}