<div class="animated-div">  
    <h2>Register</h2>
    
    <input 
      type="text" 
      id="username" 
      [(ngModel)]="username" 
      placeholder="Username">

    <input 
      type="email" 
      id="email" 
      [(ngModel)]="email" 
      placeholder="Email Address">
    
    <input 
      type="password" 
      id="password" 
      [(ngModel)]="password"
      placeholder="New Password"
      (input)="validatePassword()">
      

    <input 
      type="password" 
      [(ngModel)]="confirmPassword" 
      placeholder="Confirm Password"
      (input)="validateConfirmPassword()">

    <span class="error-message" *ngIf="confirmPasswordError">{{ confirmPasswordError }}</span>
    
    <button mat-raised-button (click)="CheckRegistrationInfo()">Submit!</button>
</div>